doctype html
html(lang='en')
    head
        title webpack5
        meta(charset='utf-8')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')

    body

        #intro 
            h1 Lorem ipsum 
            .menu   
                ul
                    li 
                        a( href="about/index.html") about
                    li 
                        a( href="service/index.html") service
            div Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nemo iste aliquam ullam numquam consequatur repellat. Iusto, sequi in est facilis rem cupiditate saepe consectetur suscipit quisquam hic minima nesciunt.


        div
          img(src=require("../../assets/img/rick.png"))
        .scroll