
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato';
    src: url('../../assets/font/Lato/Lato-Light.ttf')   format('truetype');
    font-weight: 600;
    font-style: normal;
}

body {
    font-family: 'Lato';
    font-size: 18px;
    color: var(--text);
    background: url("../../assets/img/rick.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 3em;
    text-align: center;
    padding: 10px 0;
}
#intro {
    width: 80%;
    margin: auto;
    padding: 30px;
    text-align: justify;
    background-color: red;
}

.scroll {
    background: url('../../assets/img/hello.svg') no-repeat;
    height: 19%;
    width: 11%;
    background-size: cover;
    position: absolute;
    bottom: 8px;
    right: 0;
    position: fixed;
}