@use 'variables';


body{
    font-size: 40px;
    background-color: variables.$bg;
    font-size: 26px;
    color: var(--text);
    background: url("../img/bg.jpg") no-repeat;
    background-size: contain;
    background-position: center;
    height: 100vh;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}