@use 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    color: var(--text);
    background: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-color: variables.$bg;
}

#intro{
    h1{
        font-size: 3em;
        text-align: center;
        padding: 10px 0;
    }
    width: 80%;
    margin: auto;
    padding: 30px;
    text-align: justify;
    background-color: purple;
}
.scroll{
    background:url('../img/hello.svg') no-repeat;
    height: 19%;
    width: 11%;
    background-size: cover;
    position: absolute;
    bottom: 8px;
    right: 0;
    position: fixed;
}